[submodule "src/src/grml-etc-core"]
	path = src/src/grml-etc-core
	url = git@github.com:LeSpocky/grml-etc-core.git
[submodule "src/src/solarized"]
	path = src/src/solarized
	url = git@github.com:LeSpocky/solarized.git
[submodule "src/src/mc-solarized-skin"]
	path = src/src/mc-solarized-skin
	url = git@github.com:LeSpocky/mc-solarized-skin.git
[submodule "src/src/dircolors-solarized"]
	path = src/src/dircolors-solarized
	url = git@github.com:LeSpocky/dircolors-solarized.git
